@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$color: #00FF11;
$colordark: #00950a;
$black: #141414;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
    font-family: "Montserrat", sans-serif;
    color: #fff
}
section{
    padding: 40px 15px;
}
.btn{
    padding: 15px 35px;
    border-radius: 1000px;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: $color;
    border: 2px solid $color;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;

    &:hover{
        background-color: $black;
        color: $color;
    }
    @media(max-width: 500px) {
        font-size: .85rem;
        padding: 12px 26px;
    }
}

h1{
    font-size: 3rem;
    @media(max-width: 500px) {
        font-size: 2.2rem;
    }
}
h2{
    font-size: 1.1rem;
    font-weight: 600;
}
p{
    font-size: 1rem;
    @media(max-width: 500px) {
        font-size: .85rem;
    }
}