
#quizzes{
    min-height: 100vh;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .single_quiz{
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 35px;
        border-bottom: 2px solid #ffffff4e;
        h2{
            margin-bottom: 30px;
        }
        .options{
            display: flex;
            flex-wrap: wrap;
            label{
                padding: 6px 12px;
                border: 1.6px solid #ffffff;
                border-radius: 10px;
                margin-right: 20px;
                margin-bottom: 5px;
                font-size: .85rem;
                font-weight: 500;
                letter-spacing: .4px;
                user-select: none;
                cursor: pointer;
                transition: .3s;
                @media(max-width: 700px) {
                    margin-bottom: 10px;
                    margin-right: 10px;
                }
                &:hover{
                    opacity: .7;
                }
                
                input{
                    display: none;
                }
                &.correct{
                    background-color: #00FF11;
                    border-color: #00FF11;
                    color: #000;
                }
                &.selected{
                    background-color: #fff;
                    color: #000;
                }
                &.incorrect{
                    background-color: #FF6B6B;
                    color: #000;
                    border-color: #FF6B6B;
                }
                &.false{
                    opacity: .7;
                }
            }
        }
        &:last-child{
            border-bottom: 0;
        }
    }
    
}

.bottom{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px 30px 15px;

    .score{
        margin-right: 20px;
        padding: 20px 0;
        color: #00FF11;
        font-size: 1.6rem;
        font-weight: 600;
    }
}
// $color: #00FF11;
// $colordark: #00950a;
// $black: #141414;